#tabContainer{
    width: 20%;
    background-color: rgba(33, 33, 33, 0.8);
    height: 600px;
    float: left;
}
#tabContainer div{
    border-left:8px solid yellow;
    text-align: center;
    color: white;
    font-size: 2.0em;
    padding:10px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#tabContainer nav li{
    font-size: 18px;
    list-style: none;
    margin-left: -25px;
    padding:0px;
    color:yellow
    
}
#tabContainer nav a:hover{
  text-decoration: none;
    
}
#containerLinksGenen{
    border-left: 0 !important;
}

#containerLinksGenen  img{
    width:63px;
    height:63px;
}

.active{
    background-color: #212121;
}
