#tabContainer{
    width: 20%;
    background-color: rgba(33, 33, 33, 0.8);
    height:auto;
    float: left;
}
#tabContainer div{
    border-left:8px solid #f7c117;
    text-align: center;
    color: white;
    font-size: 1.2em;
    padding:7px 0 7px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#tabContainer nav li{
    font-size: 13px;
    list-style: none;
   /* margin-left: -25px;*/
    padding:0px;
    color:#f7c117
    
}
#tabContainer nav a:hover{
  text-decoration: none;
    
}
#containerLinksGenen{
    border-left: 0 !important;
}

#containerLinksGenen  img{
    width:63px;
    height:63px;
}

.active{
    background-color: #212121;
}
