<ng-template #evolutionChainTemplate>
  <div class="containerChain">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span style="color:black;font-size: 35px;" aria-hidden="true">&times;</span>
    </button>   
    <img class="pokemonImg" src="{{pokemon.spriteAnimated}}">
    <h4 style="text-align: center;color:black" class="modal-title pull-left">{{pokemon.name | titlecase}}</h4>
    <div class="pokemonDescription">
      <div [style.background-color]="descriptioncolors[type]" class="pokemonType" *ngFor="let type of pokemon.types">{{type}}</div>
      <div class="">{{pokemon.description}}</div>
      <div style="background-color: #f5f6fa; border-radius: 12px;" class="modal-body">
        <div *ngIf=" getPokemonChain(pokemon).length > 1">
          <h4 class="modal-title pull-left">Evolution Chain</h4>
          <div class="chainStyle" *ngFor="let pokemonFromChain of getPokemonChain(pokemon)">
            <a [routerLink]="" (click)="changePokemonChain(pokemonFromChain)"><img src="{{pokemonFromChain.sprite}}"></a>
            {{pokemonFromChain.name}}
          </div>
        </div>
       
      </div>
    </div>
  </div>  
  </ng-template>
