.containerChain{
    padding:8px;
    height: auto;
    border:5px solid black;
    background-color: white;
}
.pokemonImg{
    width:274px;
    height:258px;
    margin-left: 1px;
   margin-left:21%;
}
.pokemonDescription{
    border-radius: 10px;
    padding:10px;
    text-align: center;
    
}
.chainStyle {
    list-style: none;
    padding:30px;
    width:22%;
  float:left;
    margin:auto;

}
.pokemonType{
    padding:5px;
    float:left;
    width:150px;
    color:white;
}