<!--- index.html -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <div class="mainPokemonContainer">
        <ng-container *ngFor="let pokemon of pokemons">
            <div class="pokemonContainer  textFormat" 
            (mouseenter)="toggle(pokemon)" (mouseleave)="toggle(pokemon)"
                [@pokemonContainerAnimate]="pokemonAnimate[pokemon.name]">
                <carousel [showIndicators]="false">
                    <slide>
                        <img class="pokemonImg" src="{{ pokemonImageSrc[pokemon.name] = (pokemonImageSrc[pokemon.name]==null) ? pokemon.sprites.front_default :  pokemonImageSrc[pokemon.name] }}">
                    </slide>
                    <slide>
                        <img class="pokemonImg" src="{{ pokemonImageSrc[pokemon.name] = (pokemonImageSrc[pokemon.name]==null) ? pokemon.sprites.front_default :  pokemonImageSrc[pokemon.name] }}">
                    </slide>
                </carousel>
                <div class="pokemonName alignCenter"> {{pokemon.name | titlecase}} </div>
                <div class="pokemonDescription alignCenter">{{pokemon.description}}</div>
                <div class="pokemonTypeContainer">
                    <label *ngFor="let type of pokemon.types" class="pokemonType"
                        [style.background-color]="descriptioncolors[type.type.name]"> {{type.type.name | titlecase }}
                    </label>
                </div>
            </div>
        </ng-container>
    </div>