.mainPokemonContainer{
    margin-top: 20px;
    width:1600px;
    height:auto;
    border:1px solid grey;
    border-radius: 12px;
    max-height: 900px;
    background-color:#ecf0f1 ;
       
}
.pokemonContainer{
    
    width: 200px;
    height:360px;
    margin:2%;
    display:inline-block;
    background-color: #212121;
    border-radius: 12px 0;
    box-shadow: 2px 4px 5px gray;
}
.pokemonDescription{
    font-weight: bold;
    color:white;
    height: 150px;
    overflow-y: auto;
    padding:15px;
    margin-bottom: 12px;
}
.textFormat{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    font-weight: bold;
}
.alignCenter{
    text-align: center;    
}
.pokemonImg{
    width:70%;
    height:85%;
    margin: 10% 0 5% 22% ;

}
.pokemonTypeContainer{
    padding:4%;
    color:black;

}

.pokemonName{
    color:white;
    font-size: 14px;
    
}

.pokemonType{
    padding:4px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
}
