.mainPokemonContainer{
   
    width:1600px;
    height:auto;
    border-radius: 12px;
    background-color:rgb(226, 229, 224, .6) ;
    float: left;
}
.logo{
    width:350px;
    height:150px;
}
.pokemonFlying{

    width:70px;
    height:60px;
    opacity: 1;

}
.pokemonContainer{
    
    width: 260px;
    height:520px;
    margin:2%;
    display:inline-block;
    background-color: #212121;
    border-radius: 12px 0;
    box-shadow: 2px 4px 5px gray;
    padding:10px;
    border:1px solid black;
}
.pokemonDescription{
    font-weight: bold;
    color:white;
    overflow-y: auto;
    padding:15px;
    margin: 30px 0 30px 0;
    height:230px;
    float:left;    
}
.textFormat{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    font-weight: bold;
}
.alignCenter{
    text-align: center;    
}
.pokemonImg{
    width:160px;
    height:150px;
    margin-left: 40px;
    float:left;
}
.pokemonTypeContainer{
    padding:4%;
    color:black;

}

.pokemonName{
    color:white;
    font-size: 16px;
}

.pokemonType{
    padding:4px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
}

.containerByGeneration{
    max-height: 600px;
    width:80%;
    float: right;
    overflow-y: auto;
    
}
.my-scrollbars{

    --scrollbar-color: transparent;
    --scrollbar-container-color: transparent;
    --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
    --scrollbar-thumb-hover-color: white;
    --scrollbar-border-radius: 4px;
    --scrollbar-size: 13px;
    --scrollbar-padding: 8px;
    --scroll-view-margin: 12;
    --scroll-view-color: transparent;
}
.pikachuLoadStyle{

  margin:10% 0 0 30%;
    width:10%;
    height:10%;
}

.containerPaginator{
    float:left;
    margin-left: 40%;
    width:40%;
}