div{
    /* border:1px solid red; */
}
.mainPokemonContainer{
   
    width:100%;
    height:auto;
    display: inline-block;
    border-radius: 12px;
    background-color:rgb(226, 229, 224, .6) ;
    border:1px solid lightslategrey;
    padding:0 0 13px 18px ;

    
}
.logo{
    width:218px;
    height:93px;
    margin:12px;
    margin-left: -7px;
}

.pokemonContainer{
    
    width: 110px;
    height:130px;
    margin: 17.5px  0 1px 12px;
    display:inline-block;
    background-color: #212121;
    padding:10px;
    border:1px solid black;
    box-shadow: 3px 3px 3px gray;
    border-radius: 10px;
}
.pokemonImg{
    width:110px;
    height:100px;
   margin-left: -8px;
}
.pokemonDescription{
    font-weight: bold;
    color:white;
    overflow-y: auto;
    padding:15px;
    margin: 30px 0 30px 0;
    height:230px;
    float:left;    
}
.textFormat{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    font-weight: bold;
}
.alignCenter{
    text-align: center;    
}

.pokemonTypeContainer{
    padding:4%;
    color:black;

}

.pokemonName{
    color:white;
    font-size: 13px;
    margin-top: -5px;
}

.pokemonType{
    padding:4px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
}

.containerByGeneration{
    max-height: 600px;
    width:80%;
    float: right;
    overflow-y: auto;
    
}
.my-scrollbars{

    --scrollbar-color: transparent;
    --scrollbar-container-color: transparent;
    --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
    --scrollbar-thumb-hover-color: white;
    --scrollbar-border-radius: 4px;
    --scrollbar-size: 13px;
    --scrollbar-padding: 8px;
    --scroll-view-margin: 12;
    --scroll-view-color: transparent;
}
.pikachuLoadStyle{
    margin:33% 0 0 35%;
    width:120px;
    height:100px;
}

.containerPaginator{
    float:right;
    margin-left: 40%;
    width:40%;
}